---
import { SITE } from '~/utils/config';
import ToggleTheme from '~/components/common/ToggleTheme.astro';
import ToggleMenu from '~/components/common/ToggleMenu.astro';
import Button from '~/components/ui/Button.astro';

import { getHomePermalink } from '~/utils/permalinks';
import { trimSlash } from '~/utils/permalinks';
import type { CallToAction } from '~/types';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface ActionLink extends CallToAction {}

interface MenuLink extends Link {
  links?: Array<MenuLink>;
}

export interface Props {
  id?: string;
  links?: Array<MenuLink>;
  actions?: Array<ActionLink>;
  isSticky?: boolean;
  isDark?: boolean;
  isFullWidth?: boolean;
  showToggleTheme?: boolean;
  showRssFeed?: boolean;
  position?: string;
}

const {
  id = 'header',
  links = [],
  isSticky = false,
  isDark = false,
  isFullWidth = false,
  showToggleTheme = false,
} = Astro.props;

const currentPath = `/${trimSlash(new URL(Astro.url).pathname)}`;
---

<header
  class:list={[
    {
      sticky: isSticky,
      relative: !isSticky,
      dark: isDark,
    },
    'dark:bg-page2 top-0 z-40 flex-none mx-auto w-full border-b border-gray-50/0 transition-[opacity] ease-in-out',
  ]}
  {...id ? { id } : {}}
>
  <div class="absolute inset-0"></div>
  <div
    class:list={[
      'relative text-default py-3 px-3 mx-auto w-full flex justify-between',
      {
        'max-w-7xl': !isFullWidth,
      },
    ]}
  >
    <a class="flex items-center" href={getHomePermalink()}>
      <div class="flex flex-row gap-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 173.07 57.26"
          class="hidden sm:block h-12 w-fit ml-2 rtl:ml-0 rtl:mr-2 text-accent"
          fill="currentColor"
        >
          <path
            transform="scale(0.65) translate(-6 -70)"
            d="M83.36 76.01C82.48 76.1 81.8 76.23 81.12 76.23C77.89 76.25 74.66 76.23 71.21 76.23C71.36 73.39 72.16 71.69 75.34 71.59C82.47 71.37 82.48 71.28 83.36 76V76.01Z"
          ></path>
          <g transform="translate(0 3.5)">
            <path
              d="m146.99,31.34c-15.72-1.41-31.33-2.8-47.1-4.21.68-3.2.64-6.39-1.82-8.77-1.34-1.3-3.15-2.58-4.92-2.89-5.63-.97-10.33,1.93-10.84,8.87-3-.78-6-1.44-8.92-2.37-3.78-1.2-5-4.96-2.39-7.97,1.41-1.63,1.74-3.2,1.7-5.15-.06-2.99.3-3.46,3.24-3.23,4.66.36,8.94-1,13.13-2.63C96.55.09,104.33-.35,112.14.21c6.26.46,12.66,1.02,18.28,4.28,3.26,1.9,6.54,3.91,9.38,6.37,2.72,2.35,5.8,2.79,9.07,3.3,7.89,1.23,15.54,3.17,22.15,8.01,1.15.84,1.41,1.61,1.1,3.01-.33,1.49-.4,3.16-.1,4.65.46,2.24-.24,3.44-2.52,3.45-.71,0-1.41-.03-2.12-.03-1.69.01-2.88-.08-2.18-2.49.79-2.72-1.64-7.05-4.32-8.54-3.03-1.68-7.61-1.36-9.92.71-2.9,2.6-3.08,2.95-3.97,8.4Zm-31.62-20.48c-.22-2.94-.42-5.49-.61-8.04-4.79-1.07-9.42-.74-14-.1-1.87.26-3.72,1.07-5.43,1.93-.56.28-.89,1.54-.83,2.32.03.47.95,1.17,1.55,1.27,3.84.65,7.7,1.18,11.56,1.71,2.41.33,4.82.58,7.75.93Zm23.68,3.17c.08-.18.16-.36.24-.54-.91-.73-1.84-1.42-2.71-2.19-5-4.4-10.81-6.99-17.37-8.03-1.03-.16-1.52-.14-1.32,1.01.35,2.05.68,4.11,1.17,6.12.11.47.8,1.03,1.31,1.13,1.69.35,3.43.52,5.15.74,4.51.59,9.03,1.17,13.54,1.75Z"
            ></path>
            <path
              d="m54.63,45.93v-3.45h47.3v-2.49h-47.2V3.25h7.05c.98,5.33,1.98,10.75,2.96,16.17.72,3.99,1.45,7.97,2.08,11.98.27,1.69,1.37,1.63,2.61,1.63,15.41,0,30.83.22,46.24-.09,8.12-.16,15.89,1.46,23.73,2.98,10.31,2.01,20.62,4.01,30.93,6.03.88.17,1.75.43,2.73.68v3.44h-47.73c-.41-3.88-2.22-6.82-5.59-8.62-6.37-3.39-13.8.18-15.11,7.29-.26,1.4-.6,1.57-2.01,1.49-3.08-.18-6.18.13-9.28.14-11.53.03-23.05.03-34.58,0-1.37,0-2.73-.27-4.15-.42Z"
            ></path>
            <path
              d="m6.25,46.08c-1.31-.48-2.56-.77-3.64-1.37-1.57-.88-2.78-2.07-2.59-4.19.21-2.38.24-4.77.31-7.16.16-5.38,3.69-7.87,8.16-9.47,2.7-.96,5.6-1.45,8.19-2.63,2.11-.96,4.03-2.48,5.79-4.03,4.06-3.59,7.92-7.41,11.97-11.02,2.31-2.06,5.01-3.31,8.25-3.17,2.74.12,5.48.02,8.36.02v36.8h-21.39c-.07.86-.12,1.52-.19,2.46h21.4c.73,3.74.48,4.05-3.02,4.04-4.95,0-9.9.04-14.85-.02-1.88-.02-3.76-.27-5.59-.4-1.29-6.69-5.73-9.55-10.12-9.76-5.55-.26-8.97,2.78-11.05,9.88Zm19.69-28.6l.7.35c.3,1.57.7,3.13.86,4.71.12,1.23.32,1.68,1.77,1.44,4.9-.82,9.84-1.37,14.75-2.18,1.53-.25,3.06-.96,3.08-2.94.04-2.9.13-5.8-.07-8.69-.06-.83-1.02-2.23-1.67-2.29-3.52-.31-7.24-1.08-10.3,1.48-3.12,2.61-6.08,5.4-9.11,8.12Zm-15.21,10.15c-7.58.41-7.85.57-7.98,5.04,4.1.7,7.31-1.33,7.98-5.04Z"
            ></path>
            <path
              d="m107.55,46.47c0-3.87,3.38-7.32,7.22-7.34,4.17-.03,7.48,3.27,7.47,7.44-.01,4.16-3.24,7.2-7.65,7.19-4,0-7.04-3.15-7.05-7.29Zm7.35,4.01c2.12,0,4.14-1.99,4.07-4-.07-2.04-2.09-4.05-4.09-4.05-1.88,0-4,2.04-4.04,3.9-.05,2.34,1.72,4.15,4.06,4.15Z"
            ></path>
            <path
              d="m24.17,46.41c-.03,4.53-3.07,7.38-7.83,7.33-3.74-.04-6.83-3.3-6.83-7.2,0-4.15,3.37-7.45,7.53-7.4,3.81.05,7.16,3.46,7.13,7.26Zm-3.28.03c.03-1.91-1.91-3.92-3.89-4.03-1.91-.1-4.16,2.01-4.22,3.95-.06,2.25,1.77,4.08,4.13,4.13,2.22.05,3.93-1.7,3.97-4.05Z"
            ></path>
            <path
              d="m149.76,29.99c-.02-3.47,3.09-6.53,6.63-6.54,3.49,0,6.42,2.92,6.44,6.43.02,3.77-2.74,6.68-6.36,6.69-3.81,0-6.7-2.82-6.72-6.58Zm6.63-4.01c-2.3-.03-4.09,1.65-4.12,3.86-.03,2.53,1.53,4.21,3.93,4.24,2.43.03,4.11-1.62,4.11-4.05,0-2.3-1.66-4.02-3.93-4.05Z"
            ></path>
            <path
              d="m84.62,24.03c.02-3.32,3.3-6.62,6.69-6.58,3.13.04,6.45,2.33,6.67,6.51.18,3.52-3.28,6.91-6.8,6.86-3.48-.05-6.58-3.26-6.56-6.8Zm6.6,4.33c2.09.03,4.29-2.2,4.33-4.38.03-1.91-2.08-3.98-4.14-4.06-2.24-.09-4.34,1.95-4.36,4.24-.02,2.11,2.03,4.18,4.17,4.2Z"
            ></path>
          </g>
        </svg>
        <span
          id="site"
          class="whitespace-nowrap self-center uppercase text-3xl font-bold text-gray-900 dark:text-slate-200"
        >
          {SITE?.name}
        </span>
      </div>
    </a>
    <nav
      class="items-center w-full hidden text-default overflow-y-auto overflow-x-hidden lg:w-auto lg:flex lg:overflow-y-visible lg:overflow-x-auto lg:mx-5"
      aria-label="Main navigation"
    >
      <ul class="flex w-full text-xl tracking-[0.01rem] font-medium md:self-center md:w-auto md:text-[0.9375rem]">
        {
          links.map(({ text, href }) => (
            <li>
              <a
                id="nav-link"
                class:list={[
                  'hover:text-link dark:hover:text-white px-3 py-3 flex items-centers justify-center',
                  { 'aw-link-active': href === currentPath },
                ]}
                href={href}
              >
                {text}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <div
      class="hidden xl:self-center xl:flex items-center xl:mb-0 fixed w-full xl:w-auto xl:static justify-end left-0 rtl:left-auto rtl:right-0 bottom-0 p-3 xl:p-0"
      id="header-actions"
    >
      <div class="items-center flex justify-between w-full md:w-auto">
        <div class="flex">
          {showToggleTheme && <ToggleTheme iconClass="w-6 h-6 md:w-5 md:h-5 md:inline-block" />}
        </div>
        <span class="ml-4 rtl:ml-0 rtl:mr-4">
          <Button
            variant="primary"
            href={'tel:+385955039442'}
            text="Nazovite odmah"
            icon="tabler:phone"
            class="ml-2 py-2.5 px-5.5 md:px-6 font-semibold shadow-none text-sm w-auto"
          />
        </span>
      </div>
    </div>
    <div class="flex items-center xl:hidden">
      <ToggleMenu />
    </div>
  </div>
</header>
