---
import PageLayout from '~/layouts/PageLayout.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Button from '~/components/ui/Button.astro';
import type { MetaData } from '~/types';
import Gallery from '~/components/widgets/Gallery.astro';
import About from '~/components/custom/About.astro';
import Services from '~/components/custom/Services.astro';
import Reviews from '~/components/custom/Reviews.astro';

export interface Props {
  metadata?: MetaData;
}

const metadata = {
  title: 'Vućna Služba Teo',
};
---

<PageLayout metadata={metadata}>
  <Hero2>
    <Fragment slot="title">
      <span class="dark:text-slate-200 highlight">Pomoć na cesti</span>
      <span class="text-accent">24/7</span>
    </Fragment>

    <Fragment slot="subtitle">
      Nudimo brzu i profesionalnu uslugu prijevoza vozila na širem podrućju Dalmacije.
      <span class="hidden sm:inline"> Garantiramo potpunu uslugu u suradnji sa našim partnerima.</span>
    </Fragment>

    <Fragment slot="actions">
      <div class="flex max-w-sm gap-4">
        <Button
          variant="primary"
          href={'tel:+385955039442'}
          text="Nazovite odmah"
          icon="tabler:phone"
          iconClass="phone-fill"
          class="w-full sm:mb-0"
        />
      </div>
    </Fragment>
  </Hero2>

  <About id="about">
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-slate-200 sm:text-3xl mb-3">O nama</h3>
      <p>
        Vučna služba Teo vaš je pouzdani partner na Dalmatinskim cestama. Vaša sigurnost i kvaliteta usluge naši su
        prioriteti. Locirani smo u Splitu te pružamo pomoć na područjima od Zadra do Dubrovnika unutar 2 sata.
      </p>
      <br />
      <p>
        Naši partneri spremni su pružiti dodatnu pomoć pri kvaru vašeg vozila nakon transporta. Spremni smo pomoći u
        svako doba dana, te smo otvoreni za sve dodatne upite.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-page2 dark:bg-page2"></div>
    </Fragment>
  </About>

  <Reviews id="reviews" />

  <Services>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-page2 dark:bg-page2"></div>
    </Fragment>
  </Services>

  <Gallery />
</PageLayout>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
